<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
    <div>W8stats</div>
    <span class="nav-tool-items">
        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
</mat-toolbar>

<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item (click)="OnMenuClick(iMenuTab.dashboard)"><mat-icon>dashboard</mat-icon> DASHBOARD</a>
            <a mat-list-item (click)="OnMenuClick(iMenuTab.tennisStats)"><mat-icon>library_books</mat-icon> TENNIS Stats</a>
            <hr>
            <a mat-list-item>
                <mat-form-field class="w8-field" fxFlex>
                    <input [(ngModel)]="appService.appPassword" matInput placeholder="Password for Server">
                </mat-form-field>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>

        <app-dashboard *ngIf="menuTab === iMenuTab.dashboard"></app-dashboard>

        <app-tennis-stats *ngIf="menuTab === iMenuTab.tennisStats"></app-tennis-stats>

    </mat-sidenav-content>

</mat-sidenav-container>